<nav id="mainNav" class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
    <a class="navbar-brand mb-3" href="#">
        
            <img src="assets/img/areaguidelogo.png" alt="">
        
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active left-outlined">
          <a class="nav-link" href="#">Categorias</a>
        </li> -->
        <li class="nav-item active left-outlined">
          <a class="nav-link" href="#">Nosotros</a>
        </li>
        <li class="nav-item active left-outlined">
          <a class="nav-link" href="#">Contacto</a>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-md-0">
        <!-- <input class="form-control" type="text" placeholder="Buscar..."> -->
        <button class="btn btn-link ml-2" ng-click="sesion('registro')">Registrarse</button>
        <button class="btn btn-mint ml-2" ng-click="sesion('login')">Iniciar sesion</button>
      </form>
    </div>
  </nav>
 <!-- content -->
 <div class="box">

    <div class="one">   
        <div id="one" class="">
        <div class="designer-search-scrolling-sidebar">
            <div class="coachmark-target-wrapper">
                <div class="search-tab">
                    <button ng-click="get('negocios')" class="btn search-tab-trigger ">
                    Negocios
                    </button> 
                    
                 </div> 
                 <!-- <div class="search-tab">
                    <button class="btn search-tab-trigger ">
                    Servicios
                    </button> 
                    
                 </div>  -->
                 <div class="search-tab">
                    <button class="btn search-tab-trigger ">
                    Eventos
                    </button> 
                    
                 </div> 
                 
                 <div class="search-tab">
                    <button class="btn search-tab-trigger ">
                    Programas de gobierno
                    </button> 
                    
                 </div>
                 <div class="search-tab">
                    <button class="btn search-tab-trigger">
                    Sitios de taxis
                    </button> 
                    
                 </div>
                 <div class="search-tab">
                    <button class="btn search-tab-trigger">
                    Numeros de emergencia
                    </button> 
                    
                 </div>
                 <div class="search-tab">
                    <button class="btn search-tab-trigger">
                    Bolsa de Trabajo
                    </button> 
                    
                 </div>
            </div>
            <!-- <h3>Categorias</h3> -->
        </div>
    </div>
        
    </div>

    <div class="two">
        <div class="search-summary-title">
            <h1>
                Todo al alcance de tu mano!
             </h1>
        </div>
       
       
            <div class="designer-search-description">
               <p >
                 Encuentra negocios y servicios de tu comunidad
               </p>
            </div>
            <div class="designer-search-unsubscribed-banner">
               <p class="designer-search-unsubscribed-text">
                  Registrate para obtener descuento en tu proxima contratacion de algun servicio o negocio.<br class="show-only-on-mobile"> 
               </p>
               <a href="#" class="btn btn-pink">
                Registrarse
               </a>
            </div>
        


         <!-- cards -->
         <div class="container-fluid">

            <div ng-repeat="dato in datos" class="js-hiring-card hiring-card mt-5">
                <div class="hiring-card-details">
                  <div class="hiring-card-avatar">
                    <img class="photo" src="https://cdn.dribbble.com/users/13307/avatars/normal/Mike3.jpg?1382537343">
                  </div>
                  <div class="hiring-card-details-heading">
                    <h3 class="hiring-card-title user-select-none">
                      {{dato.nombre}}
                    </h3>
                    <span class="hiring-card-details-text hiring-card-text-light ">
                        <p>{{dato.direccion}}</p>
              
                    </span>
                  </div>
                </div>
              
                  <div class="hiring-card-shot-section">
                    
                        <img ng-src="{{dato.imgPortada}}" class="img-responsive" alt="">
                                     
                  </div>
              
                  <div class="hiring-card-resume">
                    <div class="hiring-card-work-traits">
                        <div class="hiring-card-column">
                          <h4 class="hiring-card-resume-title">Categoria</h4>
                          <ul class="hiring-card-hidden-section">
                                <li>
                                  <p class="hiring-card-text-dark">
                                    {{dato.categoria}}
                                  </p>
                                </li>
                               
                          </ul>
              
                        </div>
                        <div class="hiring-card-column">
                          <h4 class="hiring-card-resume-title">Contacto</h4>
                         
                                  <p class="hiring-card-text-dark">
                                    {{dato.telefono}}
                                  </p>
                             
              
                        </div>
                       
                        
                        <div class="hiring-card-column2">
                          <h4 class="hiring-card-resume-title">Descripcion</h4>                                
                                  <p class="hiring-card-text-dark">
                                    {{dato.descripcion}}
                                  </p>
                                
                        </div>
              
                     
              
                        <div class="hiring-card-column hiring-card-force-spacing"></div>
                    </div>
              
                  </div>
              
                <div class="hiring-card-footer">
                  <img class="hiring-card-action-avatar" alt="Mike | Creative Mints" src="https://cdn.dribbble.com/users/13307/avatars/normal/Mike3.jpg?1382537343">
                  <div class="hiring-card-actions">
                     <!-- maps -->
                     <a  target="_blank" ng-if="dato.ubicacion" ng-href="{{dato.ubicacion}}">
                     <svg width="1.5em" height="1.5em" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
                  <path style="fill:#CFD8DC;" d="M480.001,192v266.667c0.076,10.496-3.05,20.766-8.96,29.44c-1.898,3.003-4.116,5.793-6.613,8.32
                    L252.801,284.8l-7.467-7.467l145.707-145.707l9.173,5.76l74.667,45.44C478.058,184.795,479.994,188.263,480.001,192z"/>
                  <path style="fill:#4CAF50;" d="M391.041,131.627L237.868,284.8L26.241,496.427c-2.498-2.527-4.715-5.317-6.613-8.32
                    c-5.91-8.674-9.036-18.944-8.96-29.44V117.333C10.668,87.878,34.546,64,64.001,64h213.333c1.939,0.066,3.837,0.577,5.547,1.493
                    l98.987,60.373L391.041,131.627z"/>
                  <path style="fill:#2196F3;" d="M464.428,496.427c-2.526,2.499-5.315,4.717-8.32,6.613c-8.674,5.911-18.944,9.037-29.44,8.96H64.001
                    c-10.496,0.077-20.766-3.049-29.44-8.96c-3.005-1.897-5.794-4.114-8.32-6.613L237.868,284.8l7.467-7.467l7.467,7.467
                    L464.428,496.427z"/>
                  <path style="fill:#FAFAFA;" d="M471.041,488.107c-3.775,6.05-8.883,11.158-14.933,14.933L237.868,284.8
                    c-4.082-4.165-4.014-10.851,0.151-14.933c4.106-4.024,10.676-4.024,14.782,0L471.041,488.107z"/>
                  <path style="fill:#FFC107;" d="M400.215,137.387L252.801,284.8L34.561,503.04c-6.05-3.775-11.158-8.883-14.933-14.933l362.24-362.24
                    L400.215,137.387z"/>
                  <g>
                    <path style="fill:#FAFAFA;" d="M106.668,192c-23.564,0-42.667-19.103-42.667-42.667s19.103-42.667,42.667-42.667
                      s42.667,19.103,42.667,42.667S130.232,192,106.668,192z M106.668,128c-11.782,0-21.333,9.551-21.333,21.333
                      s9.551,21.333,21.333,21.333s21.333-9.551,21.333-21.333S118.45,128,106.668,128z"/>
                    <path style="fill:#FAFAFA;" d="M149.335,128h-42.667c-5.891,0-10.667-4.776-10.667-10.667s4.776-10.667,10.667-10.667h42.667
                      c5.891,0,10.667,4.776,10.667,10.667S155.226,128,149.335,128z"/>
                    <path style="fill:#FAFAFA;" d="M106.668,277.333c-26.342,3.08-50.193-15.778-53.273-42.12c-0.021-0.182-0.042-0.364-0.061-0.546
                      c0-19.947,18.944-33.408,56.363-40.149c-1.999-4.107-3.035-8.616-3.029-13.184c0-5.891,4.776-10.667,10.667-10.667
                      c5.891,0,10.667,4.776,10.667,10.667c0,4.843,4.416,9.429,11.669,16.448c11.754,8.809,19.159,22.243,20.331,36.885
                      C160.001,272.171,134.401,277.333,106.668,277.333z M125.441,213.717c-37.376,4.715-50.773,14.144-50.773,20.949
                      c0,4.267,5.696,21.333,32,21.333c30.571,0,32-7.317,32-21.333C138.668,227.2,133.697,221.717,125.441,213.717z"/>
                  </g>
                  <path style="fill:#F44336;" d="M384.001,0C319.234,0.082,266.75,52.566,266.668,117.333c0.035,6.445,0.671,12.873,1.899,19.2
                    c2.571,16.539,8.739,32.312,18.069,46.208c4.949,8.533,10.667,17.408,16.704,26.88c34.686,49.795,58.598,106.281,70.208,165.845
                    c1.172,5.773,6.803,9.503,12.576,8.331c4.198-0.852,7.478-4.133,8.331-8.331c11.6-59.57,35.506-116.063,70.187-165.867
                    c6.08-9.451,11.755-18.261,16.277-26.176c9.505-14.025,15.811-29.967,18.475-46.699c1.246-6.39,1.896-12.882,1.941-19.392
                    C501.252,52.566,448.769,0.082,384.001,0z"/>
                  <circle style="fill:#C62828;" cx="384.001" cy="117.333" r="53.333"/>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                                        </svg>
                      </a>
                    <!-- whatsapp -->
                    <a target="_blank" ng-if="dato.telefono" ng-href="https://api.whatsapp.com/send?phone={{dato.telefono}}">
                    <svg width="1.5em" height="1.5em" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<path style="fill:#4CAF50;" d="M256.064,0h-0.128l0,0C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104
	l98.4-31.456C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z"/>
<path style="fill:#FAFAFA;" d="M405.024,361.504c-6.176,17.44-30.688,31.904-50.24,36.128c-13.376,2.848-30.848,5.12-89.664-19.264
	C189.888,347.2,141.44,270.752,137.664,265.792c-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624,26.176-62.304
	c6.176-6.304,16.384-9.184,26.176-9.184c3.168,0,6.016,0.16,8.576,0.288c7.52,0.32,11.296,0.768,16.256,12.64
	c6.176,14.88,21.216,51.616,23.008,55.392c1.824,3.776,3.648,8.896,1.088,13.856c-2.4,5.12-4.512,7.392-8.288,11.744
	c-3.776,4.352-7.36,7.68-11.136,12.352c-3.456,4.064-7.36,8.416-3.008,15.936c4.352,7.36,19.392,31.904,41.536,51.616
	c28.576,25.44,51.744,33.568,60.032,37.024c6.176,2.56,13.536,1.952,18.048-2.848c5.728-6.176,12.8-16.416,20-26.496
	c5.12-7.232,11.584-8.128,18.368-5.568c6.912,2.4,43.488,20.48,51.008,24.224c7.52,3.776,12.48,5.568,14.304,8.736
	C411.2,329.152,411.2,344.032,405.024,361.504z"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
                    </svg>
                    </a>  

                    <!-- instagram -->
                    <a target="_blank" ng-if="dato.instagram" ng-href="{{dato.instagram}}">
                    <svg width="1.5em" height="1.5em" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-46.0041" y1="634.1208" x2="-32.9334" y2="647.1917" gradientTransform="matrix(32 0 0 -32 1519 20757)">
	<stop  offset="0" style="stop-color:#FFC107"/>
	<stop  offset="0.507" style="stop-color:#F44336"/>
	<stop  offset="0.99" style="stop-color:#9C27B0"/>
</linearGradient>
<path style="fill:url(#SVGID_1_);" d="M352,0H160C71.648,0,0,71.648,0,160v192c0,88.352,71.648,160,160,160h192
	c88.352,0,160-71.648,160-160V160C512,71.648,440.352,0,352,0z M464,352c0,61.76-50.24,112-112,112H160c-61.76,0-112-50.24-112-112
	V160C48,98.24,98.24,48,160,48h192c61.76,0,112,50.24,112,112V352z"/>
<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-42.2971" y1="637.8279" x2="-36.6404" y2="643.4846" gradientTransform="matrix(32 0 0 -32 1519 20757)">
	<stop  offset="0" style="stop-color:#FFC107"/>
	<stop  offset="0.507" style="stop-color:#F44336"/>
	<stop  offset="0.99" style="stop-color:#9C27B0"/>
</linearGradient>
<path style="fill:url(#SVGID_2_);" d="M256,128c-70.688,0-128,57.312-128,128s57.312,128,128,128s128-57.312,128-128
	S326.688,128,256,128z M256,336c-44.096,0-80-35.904-80-80c0-44.128,35.904-80,80-80s80,35.872,80,80
	C336,300.096,300.096,336,256,336z"/>
<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="-35.5456" y1="644.5793" x2="-34.7919" y2="645.3331" gradientTransform="matrix(32 0 0 -32 1519 20757)">
	<stop  offset="0" style="stop-color:#FFC107"/>
	<stop  offset="0.507" style="stop-color:#F44336"/>
	<stop  offset="0.99" style="stop-color:#9C27B0"/>
</linearGradient>
<circle style="fill:url(#SVGID_3_);" cx="393.6" cy="118.4" r="17.056"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
                      </svg>
                      </a>
                      <!-- Youtube -->
                      <a target="_blank" ng-if="dato.youtube" ng-href="{{dato.youtube}}">
                      <svg width="1.5em" height="1.5em" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<path style="fill:#F44336;" d="M490.24,113.92c-13.888-24.704-28.96-29.248-59.648-30.976C399.936,80.864,322.848,80,256.064,80
		c-66.912,0-144.032,0.864-174.656,2.912c-30.624,1.76-45.728,6.272-59.744,31.008C7.36,138.592,0,181.088,0,255.904
		C0,255.968,0,256,0,256c0,0.064,0,0.096,0,0.096v0.064c0,74.496,7.36,117.312,21.664,141.728
		c14.016,24.704,29.088,29.184,59.712,31.264C112.032,430.944,189.152,432,256.064,432c66.784,0,143.872-1.056,174.56-2.816
		c30.688-2.08,45.76-6.56,59.648-31.264C504.704,373.504,512,330.688,512,256.192c0,0,0-0.096,0-0.16c0,0,0-0.064,0-0.096
		C512,181.088,504.704,138.592,490.24,113.92z"/>
	<polygon style="fill:#FAFAFA;" points="192,352 192,160 352,256 	"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
                      </svg>
                      </a>
                      <!-- twitter -->
                      <a target="_blank" ng-if="dato.twitter" ng-href="{{dato.twitter}}">
                      <svg width="1.5em" height="1.5em" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 112.197 112.197" style="enable-background:new 0 0 112.197 112.197;" xml:space="preserve">
<g>
	<circle style="fill:#55ACEE;" cx="56.099" cy="56.098" r="56.098"/>
	<g>
		<path style="fill:#F1F2F2;" d="M90.461,40.316c-2.404,1.066-4.99,1.787-7.702,2.109c2.769-1.659,4.894-4.284,5.897-7.417
			c-2.591,1.537-5.462,2.652-8.515,3.253c-2.446-2.605-5.931-4.233-9.79-4.233c-7.404,0-13.409,6.005-13.409,13.409
			c0,1.051,0.119,2.074,0.349,3.056c-11.144-0.559-21.025-5.897-27.639-14.012c-1.154,1.98-1.816,4.285-1.816,6.742
			c0,4.651,2.369,8.757,5.965,11.161c-2.197-0.069-4.266-0.672-6.073-1.679c-0.001,0.057-0.001,0.114-0.001,0.17
			c0,6.497,4.624,11.916,10.757,13.147c-1.124,0.308-2.311,0.471-3.532,0.471c-0.866,0-1.705-0.083-2.523-0.239
			c1.706,5.326,6.657,9.203,12.526,9.312c-4.59,3.597-10.371,5.74-16.655,5.74c-1.08,0-2.15-0.063-3.197-0.188
			c5.931,3.806,12.981,6.025,20.553,6.025c24.664,0,38.152-20.432,38.152-38.153c0-0.581-0.013-1.16-0.039-1.734
			C86.391,45.366,88.664,43.005,90.461,40.316L90.461,40.316z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
                      </svg>
                      </a>
                      <!-- facebook -->
                      <a target="_blank" ng-if="dato.facebook" ng-href="{{dato.facebook}}">
                      <svg width="1.5em" height="1.5em" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<path style="fill:#1976D2;" d="M448,0H64C28.704,0,0,28.704,0,64v384c0,35.296,28.704,64,64,64h384c35.296,0,64-28.704,64-64V64
	C512,28.704,483.296,0,448,0z"/>
<path style="fill:#FAFAFA;" d="M432,256h-80v-64c0-17.664,14.336-16,32-16h32V96h-64l0,0c-53.024,0-96,42.976-96,96v64h-64v80h64
	v176h96V336h48L432,256z"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
                      </svg>
                    </a>
                     
                      <!-- <button class="btn btn-green" >
                           <span>Enviar mensaje</span>
                     </button> -->
                 </div>
                </div>
              
              </div>


         </div>
        
    </div>

    <div class="three">
        <div id="three" class="">
            <form>
                <fieldset class="search-filters-wrapper pt-48">
                <!----> 
                <div class="form-field-wrapper">
                    <div class="label-flag">
                        <label>
                            Buscar 
                            <!---->
                        </label>
                        <!---->
                    </div>
                    <input type="text" placeholder="Buscar...">
                </div>  
                </fieldset>
            </form>
        </div>    
  </div>
 </div>