
<div class="row">
    <div class="col-md-4 center" style="background-color: darkcyan;">
        
        <div class="img-center">
            <img class="align-middle" src="assets/img/login.png" alt="">
        </div>
        
        

    </div>
    <div class="col-md-8 login">
        <div class="mx-auto" style="width: 60%;" ng-class="margen">
           <div class="mb-4 pb-4">
               <h1 class="pb-4">{{formulario}}</h1>  
               <button type="button" class="btn btn-primary btn-lg">{{formulario}} con google</button>
           </div> 
          <hr class="divider mb-4 pb-4">
                <form ng-show="registro" class="needs-validation" novalidate>
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label for="user">Usuario</label>
                        <input type="text" class="form-control" placeholder="usuario" required>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label for="pass">Contraseña</label>
                        <input type="text" class="form-control" placeholder="contraseña" required>
                      </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Iniciar sesion</button>
                  </form>
                  <form ng-hide="registro" class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" placeholder="nombre" required>
                          </div>
                      <div class="col-md-6 mb-3">
                        <label for="user">Usuario</label>
                        <input type="text" class="form-control" placeholder="usuario" required>
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                          <label for="email">Correo</label>
                          <input type="text" class="form-control" placeholder="correo" required>
                        </div>
                      </div>
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label for="pass">Contraseña</label>
                        <input type="text" class="form-control" placeholder="6+ caracteres" required>
                      </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck" style="cursor: pointer;">
                          <label class="form-check-label" for="gridCheck">
                           Terminos y condiciones
                          </label>
                        </div>
                      </div>
                    <button class="btn btn-primary" type="submit">Crear cuenta</button>
                  </form>
              
               
            
        </div>
    </div>

</div>