@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #333;
	background: #fafafa;
	overflow-x: hidden;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%
}

.navbar{
    padding-top: 1rem;
    padding-bottom: .4rem;
    border-bottom: 1px solid #dbdbde;
}

.left-outlined {
    
	padding-right: 0
}

@media (min-width: 1200px) {
	.left-outlined{
		border-left: 1px solid #dbdbde;
		padding-left: 2px
	}
}


 
  .Layout-aside-inner {
    
    position: sticky;
    top: 0;
    /* padding-top: 2rem; */
 
  }
  .box {
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	background: #fff
  }
  .one {
   opacity: 0;
   display: none;
   visibility: hidden;
  }
  .three{
	opacity: 0;
	display: none;
	visibility: hidden;
  }
 
  @media (min-width: 1200px) {
	.box {
		display: flex;
	  }
	.one {
        -ms-flex: 0 0 300px;
        flex: 0 0 300px;
        max-width: 300px;
		border-right: 1px solid #f3f3f4;
		opacity: 1;
		visibility: visible;
		display: block;
      }
    
      .two {
        margin-top: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        width: 100%;
        overflow: hidden;
        padding: 48px 32px;
      }
    
      .three {
        -ms-flex: 1 0 320px;
        flex: 1 0 320px;
		max-width: 340px;
		opacity: 1;
		visibility: visible;
		display: block;
      }
    
}
@media (min-width: 768px){

}


.mb-16 {
	margin-bottom: 16px
}
.designer-search-scrolling-sidebar {
	overflow-y: auto;
	height: 100vh;
	padding: 48px 32px 32px
}

.designer-search-scrolling-sidebar .coachmark-target-wrapper {
	position: static
}
.coachmark-target-wrapper {
	position: relative
}

.coachmark-target-wrapper .coachmark-target {
	position: absolute;
	z-index: 1
}

.coachmark-target-wrapper .coachmark-target.coachmark-drawer {
	bottom: -8px;
	left: -12px
}

@media (min-width: 768px) {
	.coachmark-target-wrapper .coachmark-target.coachmark-drawer {
		left: 0
	}
}

.coachmark-target-wrapper .coachmark-target.coachmark-filters {
	top: 40px;
	left: -8px
}

.coachmark-target-wrapper .coachmark-target.coachmark-searches {
	top: 44px;
	right: -8px
}

.coachmark-target-wrapper .coachmark-target.coachmark-messages {
	right: -8px
}

.coachmark-target-wrapper .coachmark-target.coachmark-contact {
	top: 16px;
	left: 8px
}

@media (min-width: 500px) {
	.coachmark-target-wrapper .coachmark-target.coachmark-contact {
		top: 24px
	}
}

@media (min-width: 1200px) {
	.search-tabs {
		margin-left: -16px
	}
}
.saved-searches-label {
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px
}
.saved-searches .saved-searches-label {
	color: #9e9ea7
}
.search-tabs-type-of {
	color: #6e6d7a;
	letter-spacing: 0.01em
}

.search-tab {
	margin-bottom: 16px
}

.search-tab:last-child {
	margin-bottom: 0
}

.search-tab .search-tab-trigger {
	display: block;
	padding: 8px;
	border-radius: 8px;
	color: #009c8c;
	white-space: nowrap;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	outline:0;
	box-shadow:0 0 0 .2rem rgba(0,123,255,.25);
}

@media (min-width: 768px) {
	.search-tab .search-tab-trigger {
		padding: 12px 16px;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px
	}
}

.search-tab .search-tab-trigger:hover {
	background: #e7e7e9;
	color: #0d0c22
}

.search-tab .search-tab-trigger.active {
	background: #fef6f9;
	cursor: default;
	color: #ea4c89
}

.search-tab.active-child .search-tab-trigger.active {
	background: #f3f3f4;
	color: #14C9B7
}

.search-tab.active-child .search-tab-trigger.active:hover {
	background: #e7e7e9;
	cursor: pointer
}

.checkbox-toggle-content .toggle-content {
	overflow: hidden;
	padding: 0 6px 6px;
	margin: 0 -6px -6px
}

.checkbox-toggle-content .toggle-content .content-box {
	padding-top: 24px
}

.search-tab-content {
	padding: 24px 0px 0px 32px
}

.saved-searches .saved-searches-heading {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 12px
}

.saved-searches .saved-searches-label {
	color: #9e9ea7
}

.saved-searches .saved-searches-create {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px
}

.saved-searches .saved-searches-list {
	margin-left: -12px
}

.saved-searches .saved-searches-item {
	margin-bottom: 4px
}

.saved-searches .saved-searches-item:last-child {
	margin-bottom: 0
}

.saved-searches .saved-searches-item-link {
	display: block;
	padding: 8px 12px;
	border-radius: 8px;
	color: #3d3d4e;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px
}

.saved-searches .saved-searches-item-link:hover {
	background: #f3f3f4
}

.saved-searches .saved-searches-item-link.active {
	background: #fef6f9;
	cursor: default;
	color: #ea4c89
}

.label-flag {
	display: -ms-flexbox;
	display: flex
}

.label-flag-updated {
	margin-left: 5px;
	font-weight: 500
}
.search-filters .search-filters-wrapper {
	min-width: 0;
	width: 100%
}
label{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    background: transparent;
    /* padding: 48px 32px; */
}
label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #0d0c22;
    display: block;
    margin-bottom: 10px;
    
}
.pt-48{
    padding-top: 48px;
}
.form-field-wrapper{
    padding-bottom: 1rem;
}

/* input */
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
input[type="text" i] {
    padding: 1px 2px;
}


input:active[type='text'], input:active[type='number'], input:active[type='search'], input:active[type='password'], input:active[type='email'], input:active[type='url'], input:active[type='tel'], .braintree-input:active, .selectize-input:active, textarea:active, .ql-container .ql-editor:active, select:active, .input-with-prefix:active {
    background-color: #fff;
	border-color: #e7e7e9;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input:hover[type='text'], input:hover[type='number'], input:hover[type='search'], input:hover[type='password'], input:hover[type='email'], input:hover[type='url'], input:hover[type='tel'], .braintree-input:hover, .selectize-input:hover, textarea:hover, .ql-container .ql-editor:hover, select:hover, .input-with-prefix:hover {
    background-color: #fff;
    border-color: rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 0 4px rgba(234,76,137,0.1);
    box-shadow: 0 0 0 4px rgba(234,76,137,0.1);
}
input[type='text'], input[type='number'], input[type='search'], input[type='password'], input[type='email'], input[type='url'], input[type='tel'], .braintree-input, .selectize-input {
    border: 1px solid transparent;
}
@media (min-width: 768px){ 
input[type='text'], input[type='number'], input[type='search'], input[type='password'], input[type='email'], input[type='url'], input[type='tel'], .braintree-input, .selectize-input, textarea, .ql-container .ql-editor, select, .input-with-prefix {
    font-size: 14px;
}
}

input[type='text'], input[type='number'], input[type='search'], input[type='password'], input[type='email'], input[type='url'], input[type='tel'], .braintree-input, .selectize-input, textarea, .ql-container .ql-editor, select, .input-with-prefix {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 16px;
    outline: none;
    border-radius: 8px;
    -webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #0d0c22;
    background-color: #f3f3f4;

}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    /* border-width: 1px;
    border-style: groove;
    border-color: white;
    border-image: initial; */
}

.designer-search-unsubscribed-banner {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	margin-top: 16px;
	padding: 16px;
	border-radius: 8px;
	background: rgba(255, 212, 105, 0.15)
}

@media (min-width: 500px) {
	.designer-search-unsubscribed-banner {
		-ms-flex-direction: row;
		flex-direction: row;
		text-align: left
	}
}

.designer-search-unsubscribed-banner .designer-search-unsubscribed-text {
	margin-bottom: 8px
}

@media (min-width: 500px) {
	.designer-search-unsubscribed-banner .designer-search-unsubscribed-text {
		margin-bottom: 0px;
		margin-right: 16px
	}
}

.drawer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.drawer .close-drawer {
	display: inline-block;
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 2;
	color: #6e6d7a
}

.drawer .close-drawer:hover {
	color: #0d0c22
}

.drawer .close-drawer svg {
	width: 26px;
	height: 26px
}

.drawer .drawer-container {
	width: 100%;
	background: #fff;
	overflow: auto;
	-ms-overflow-style: none;
	will-change: transform;
	position: relative;
	border-left: 1px solid #e7e7e9;
	-webkit-box-shadow: -20px 0px 80px rgba(0, 0, 0, 0.05);
	box-shadow: -20px 0px 80px rgba(0, 0, 0, 0.05)
}

.drawer .drawer-container:-webkit-scrollbar {
	display: none
}

.drawer-right-enter-active .drawer-container {
	-webkit-animation: slide-in-right 0.5s;
	animation: slide-in-right 0.5s
}

.drawer-right-leave-active .drawer-container {
	-webkit-animation: slide-out-right 0.45s;
	animation: slide-out-right 0.45s
}

.hiring-card {
	border: 1px solid #e0dddd;
	-webkit-box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	background-color: white;
}

.hiring-card.grayed-out {
	opacity: 0.75;
	-webkit-filter: grayscale(1);
	filter: grayscale(1)
}

.hiring-card .hiring-card-text-light {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #6e6d7a
}

.hiring-card .hiring-card-text-dark {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px
}

.curated-designer .hiring-card-details {
	padding: 50px 40px 32px
}

@media screen and (min-width: 768px) {
	.curated-designer .hiring-card-details {
		padding: 32px 42px
	}
}

.curated-designer .curated-card {
	position: absolute;
	top: 16px;
	right: 16px;
	padding: 8px 12px;
	color: #4f3cc9;
	background: rgba(79, 60, 201, 0.1);
	border-radius: 6px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px
}

@media (min-width: 768px) {
	.curated-designer .curated-card {
		top: 24px;
		right: 24px
	}
}

.hiring-card-details {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 16px 24px
}

@media (min-width: 500px) {
	.hiring-card-details {
		padding: 32px 42px
	}
}

.hiring-card-footer {
	display: -ms-flexbox;
	display: flex
}

.hiring-card-footer .bookmark-btn {
	margin-right: 16px;
	padding: 10px 14px
}

.hiring-card-footer .bookmark-btn span {
	display: none
}

.hiring-card-footer .bookmark-btn svg {
	pointer-events: none;
	margin-right: 0
}

.hiring-card-avatar {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	max-width: 30%;
	width: 60px
}

@media (min-width: 500px) {
	.hiring-card-avatar {
		width: 80px
	}
}

.hiring-card-avatar img {
	border-radius: 50%;
	width: 100%
}

@media (min-width: 768px) {
	.hiring-card-avatar {
		width: 120px
	}
	.hiring-card-avatar img {
		width: 100%
	}
}

.hiring-card-details-heading {
	margin-left: 16px;
	overflow: hidden;
	/* text-overflow: ellipsis;
	white-space: nowrap */
}

@media (min-width: 768px) {
	.hiring-card-details-heading {
		margin-left: 32px
	}
}

.hiring-card-details-heading .hiring-card-title {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 7px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

@media (min-width: 768px) {
	.hiring-card-details-heading .hiring-card-title {
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px
	}
}

.hiring-card-details-heading .hiring-card-title a {
	color: #0d0c22
}

.hiring-card-details-heading .badge-team {
	margin-left: 12px
}

.hiring-card-details-text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	margin-bottom: 10px
}

@media screen and (min-width: 590px) {
	.hiring-card-details-text {
		-ms-flex-direction: row;
		flex-direction: row
	}
}

.hiring-card-details-text .hiring-card-middot {
	display: none;
	margin: 0 5px
}

@media screen and (min-width: 590px) {
	.hiring-card-details-text .hiring-card-middot {
		display: block
	}
}

.hiring-card-section {
	margin-top: 32px
}

.hiring-card-footer,
.hiring-card-resume,
.hiring-card-agency {
	padding: 32px 24px
}

@media screen and (min-width: 768px) {
	.hiring-card-footer,
	.hiring-card-resume,
	.hiring-card-agency {
		padding: 32px 42px
	}
}

div.hiring-card-resume {
	padding-top: 0
}

div.hiring-card-footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-top: 24px;
	border-top: 1px solid #f3f3f4
}

@media (max-width: 499px) {
	div.hiring-card-footer {
		-ms-flex-pack: start;
		justify-content: flex-start
	}
	div.hiring-card-footer .hiring-card-actions {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-positive: 1;
		flex-grow: 1
	}
	div.hiring-card-footer .message-btn {
		width: 100%
	}
	div.hiring-card-footer .hiring-card-action-avatar {
		display: block
	}
}

.hiring-card-action-avatar {
	display: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 16px
}

.hide-sections-on-mobile .hiring-card-hidden-section {
	display: none
}

.hide-sections-on-mobile .hiring-card-expand-results,
.hide-sections-on-mobile .hiring-card-redacted-results {
	display: block;
	position: relative
}

.hide-sections-on-mobile .hiring-card-expand-results .hiring-card-expand-link,
.hide-sections-on-mobile .hiring-card-expand-results .hiring-card-redacted-link,
.hide-sections-on-mobile .hiring-card-redacted-results .hiring-card-expand-link,
.hide-sections-on-mobile .hiring-card-redacted-results .hiring-card-redacted-link {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px
}

.hide-sections-on-mobile .hiring-card-expand-results .hiring-card-expand-link:before,
.hide-sections-on-mobile .hiring-card-expand-results .hiring-card-expand-link:after,
.hide-sections-on-mobile .hiring-card-expand-results .hiring-card-redacted-link:before,
.hide-sections-on-mobile .hiring-card-expand-results .hiring-card-redacted-link:after,
.hide-sections-on-mobile .hiring-card-redacted-results .hiring-card-expand-link:before,
.hide-sections-on-mobile .hiring-card-redacted-results .hiring-card-expand-link:after,
.hide-sections-on-mobile .hiring-card-redacted-results .hiring-card-redacted-link:before,
.hide-sections-on-mobile .hiring-card-redacted-results .hiring-card-redacted-link:after {
	content: '';
	display: inline-block;
	width: 4px;
	height: 4px;
	background-color: #ea4c89;
	border-radius: 50%
}

.hide-sections-on-mobile .hiring-card-expand-results .hiring-card-expand-link:before,
.hide-sections-on-mobile .hiring-card-expand-results .hiring-card-redacted-link:before,
.hide-sections-on-mobile .hiring-card-redacted-results .hiring-card-expand-link:before,
.hide-sections-on-mobile .hiring-card-redacted-results .hiring-card-redacted-link:before {
	margin-right: 10px
}

.hide-sections-on-mobile .hiring-card-expand-results .hiring-card-expand-link:after,
.hide-sections-on-mobile .hiring-card-expand-results .hiring-card-redacted-link:after,
.hide-sections-on-mobile .hiring-card-redacted-results .hiring-card-expand-link:after,
.hide-sections-on-mobile .hiring-card-redacted-results .hiring-card-redacted-link:after {
	margin-left: 10px
}

.hide-sections-on-mobile .hiring-card-expand-results .hiring-card-expand-overlay,
.hide-sections-on-mobile .hiring-card-expand-results .hiring-card-redacted-overlay,
.hide-sections-on-mobile .hiring-card-redacted-results .hiring-card-expand-overlay,
.hide-sections-on-mobile .hiring-card-redacted-results .hiring-card-redacted-overlay {
	position: absolute;
	top: -135px;
	width: 100%;
	height: 135px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(104.37%, #fff));
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 104.37%)
}

@media screen and (min-width: 590px) {
	.hide-sections-on-mobile .hiring-card-hidden-section {
		display: block
	}
	.hide-sections-on-mobile .hiring-card-expand-results {
		display: none
	}
}

.hiring-card-work-traits {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: justify;
	justify-content: space-between
}

@media screen and (min-width: 590px) {
	.hiring-card-work-traits {
		-ms-flex-direction: row;
		flex-direction: row
	}
}

.hiring-card-work-traits .hiring-card-resume-title {
	margin-top: 32px
}

.hiring-card-work-traits .hiring-card-expand-link {
	display: none
}

.hiring-card-trait-title {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px
}

.hiring-card-trait-subtitle {
	font-style: italic;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px
}

.hiring-card-column {
	margin-right: 30px;
	background-color: #fff;
	/* word-break: break-word */
}
.hiring-card-column2 {
	margin-right: 0;
	background-color: #fff;
	width: 100%;
	max-width: 280px;
	word-break: break-word
}
@media screen and (min-width: 590px) {
	.hiring-card-column {
		width: 33%;
		max-width: 280px
	}
}

.hiring-card-column:last-of-type {
	margin-right: 0
}

.hiring-card-column li {
	margin-bottom: 10px
}

.hiring-card-force-spacing {
	min-width: 20%
}

.hiring-card-resume-title {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 8px
}

.hiring-card-skills-list {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.hiring-card-skills-tag,
.hiring-card-skills-tag-dark {
	padding: 8px 10px;
	margin: 4px 8px 4px 0;
	text-transform: capitalize;
	border-radius: 6px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px
}

.hiring-card-skills-tag:last-of-type,
.hiring-card-skills-tag-dark:last-of-type {
	margin-right: 0
}

.hiring-card-skills-tag {
	background: #f3f3f4
}

.hiring-card-skills-tag-dark {
	background: #9e9ea7;
	color: #fff
}

.hiring-card-shot-section {
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: #fafafb
}

.hiring-card-shot-section img {
    text-align: center;
    width: 100%;
    height: 300px;
}



.loading-template {
	position: relative;
	background: #e7e7e9;
	z-index: 1
}

.loading-template.off-white {
	background: #f3f3f4
}

.loading-template.shot {
	border-radius: 8px
}

.loading-template.shot:before {
	content: '';
	display: block;
	padding-top: 75%
}

.loading-template.avatar {
	border-radius: 50%
}

.loading-template.avatar:before {
	content: '';
	display: block;
	padding-top: 100%
}

.loading-template.avatar.tiny {
	width: 16px;
	height: 16px
}

.loading-template.avatar.small {
	width: 24px;
	height: 24px
}

.loading-template.avatar.regular {
	width: 32px;
	height: 32px
}

.loading-template.avatar.medium {
	width: 40px;
	height: 40px
}

.loading-template.avatar.large {
	width: 60px;
	height: 60px
}

.loading-template.bar {
	content: '';
	border-radius: 4px;
	display: block;
	height: 18px
}

.loading-template.bar.h-tiny {
	height: 8px
}

.loading-template.bar.h-small {
	height: 14px
}

.loading-template.bar.h-medium {
	height: 16px
}

.loading-template.bar.h-large {
	height: 24px
}

.loading-template.bar.w-25 {
	width: 25%
}

.loading-template.bar.w-50 {
	width: 50%
}

.loading-template.bar.w-75 {
	width: 75%
}

.loading-template.button {
	width: 80px;
	height: 40px;
	border-radius: 8px
}

.loading-template.button.icon {
	width: 40px
}

.loading-template.label {
	border-radius: 2em;
	height: 18px
}

.loading-template.field {
	height: 40px;
	border-radius: 8px
}

.loading-template.textarea {
	height: 80px;
	border-radius: 8px
}

.loading-template.circle {
	width: 48px;
	height: 48px;
	border-radius: 50%
}

.loading-template.circle.medium {
	width: 32px;
	height: 32px
}

.loading-template.dark {
	background: #d8d8dc
}

.loading-template.animate-glow {
	-webkit-animation: loading-glow 1s linear infinite;
	animation: loading-glow 1s linear infinite;
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s
}

.loading-template.animate-translate {
	overflow: hidden
}

.loading-template.animate-translate:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#fff), to(transparent));
	background: linear-gradient(90deg, transparent, #fff, transparent);
	-webkit-animation: loading-translate 2s infinite;
	animation: loading-translate 2s infinite
}

.loading-template.animate-translate.dark:after {
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.5)), to(transparent));
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent)
}

@-webkit-keyframes loading-glow {
	0% {
		background-color: #e7e7e7
	}
	50% {
		background-color: #ddd
	}
	100% {
		background-color: #e7e7e7
	}
}

@keyframes loading-glow {
	0% {
		background-color: #e7e7e7
	}
	50% {
		background-color: #ddd
	}
	100% {
		background-color: #e7e7e7
	}
}

@-webkit-keyframes loading-translate {
	100% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%)
	}
}

@keyframes loading-translate {
	100% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%)
	}
}

.loading-template-comment {
	position: relative;
	padding: 0 0 0 40px;
	margin-bottom: 32px
}

.loading-template-comment:last-child {
	margin-bottom: 0
}

.loading-template-comment .avatar {
	position: absolute;
	top: 0;
	left: 0
}

.loading-template-comment .author {
	width: 50%;
	margin-bottom: 8px
}

.loading-template-comment .comment {
	margin-bottom: 8px
}

.loading-template-comment .time {
	width: 25%
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(234, 76, 137, 0.4);
		box-shadow: 0 0 0 0 rgba(234, 76, 137, 0.4)
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(234, 76, 137, 0);
		box-shadow: 0 0 0 10px rgba(234, 76, 137, 0)
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(234, 76, 137, 0);
		box-shadow: 0 0 0 0 rgba(234, 76, 137, 0)
	}
}

@keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(234, 76, 137, 0.4);
		box-shadow: 0 0 0 0 rgba(234, 76, 137, 0.4)
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(234, 76, 137, 0);
		box-shadow: 0 0 0 10px rgba(234, 76, 137, 0)
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(234, 76, 137, 0);
		box-shadow: 0 0 0 0 rgba(234, 76, 137, 0)
	}
}

.coachmark {
	display: inline-block;
	position: relative
}

.coachmark-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center
}

.coachmark-header .close-icon {
	margin-bottom: 8px;
	fill: #9e9ea7;
	width: 20px;
	height: 20px;
	cursor: pointer
}

.touchmark,
.coachmark-target {
	background-color: #ea4c89;
	border-radius: 50%;
	display: inline-block;
	height: 16px;
	position: relative;
	width: 16px
}

.touchmark.animate,
.coachmark-target.animate {
	-webkit-animation: pulse 2s infinite;
	animation: pulse 2s infinite
}

.touchmark:before,
.coachmark-target:before {
	background: radial-gradient(rgba(217, 89, 136, 0), rgba(217, 89, 136, 0.2) 75%);
	border-radius: 50%;
	content: '';
	display: inline-block;
	height: 32px;
	left: -8px;
	position: absolute;
	top: -8px;
	width: 32px
}

.coachmark-target.multi-step-coachmark {
	display: none
}

.coachmark-target.multi-step-coachmark.tippy-active {
	display: inline-block
}

.coachmark-tooltip {
	background: #ea4c89;
	border-radius: 12px;
	bottom: calc(100% + 28px);
	-webkit-box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.15);
	box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.15);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	left: -142px;
	padding: 24px;
	position: absolute;
	width: 300px
}

.coachmark-tooltip:before {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ea4c89;
	content: '';
	height: 0;
	left: 140px;
	position: absolute;
	top: 100%;
	width: 0
}

.coachmark-tooltip.coachmark-tooltip-left {
	left: -26px
}

.coachmark-tooltip.coachmark-tooltip-left:before {
	left: 24px
}

.coachmark-tooltip.coachmark-tooltip-right {
	left: auto;
	right: -26px
}

.coachmark-tooltip.coachmark-tooltip-right:before {
	left: auto;
	right: 24px
}

.coachmark-title {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 22px;
	margin-bottom: 10px
}

.coachmark-text {
	color: #fff;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 10px
}

.coachmark-action {
	text-align: right
}

.coachmark-action .form-btn {
	background-color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #ea4c89;
	min-width: 75px;
	text-align: center
}

.coachmark-action .form-btn:hover,
.coachmark-action .form-btn:focus {
	opacity: 0.9
}

.coupon-container {
	max-width: 560px;
	margin: 67px auto 0
}

.coupon-container .coupon-modal-header {
	text-align: center;
	padding: 0 20px
}

.coupon-container .coupon-modal-header h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 29px;
	margin-bottom: 16px
}

@media (min-width: 768px) {
	.coupon-container .coupon-modal-header h1 {
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px
	}
}

.coupon-container .coupon-modal-header p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px
}

@media (min-width: 768px) {
	.coupon-container .coupon-modal-header p {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 400;
		line-height: 32px
	}
}

@media (min-width: 768px) {
	.coupon-container .coupon-modal-header {
		padding: 0
	}
}

@media (max-width: 499px) {
	.coupon-container .coupon-content {
		margin-top: 32px
	}
}

@media (min-width: 500px) {
	.coupon-container .coupon-content {
		background: center/contain no-repeat url(/assets/confetti-10c4accf3bfcbd461d32f6ad6c1d9721d075abdd7d877578f575cb17d4c5c442.svg)
	}
}

.coupon-container .coupon-background {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

@media (min-width: 500px) {
	.coupon-container .coupon-background {
		position: relative;
		background: no-repeat url(/assets/coupon-75cec45c6e2fccc43c1b0cdabb8480d5e533e0248d910a345328daaf0e52373c.svg);
		background-position-x: center;
		border-radius: 20px
	}
	.coupon-container .coupon-background:before {
		content: '';
		display: block;
		padding-top: 120%
	}
}

.coupon-container .coupon-details {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0 auto
}

@media (max-width: 499px) {
	.coupon-container .coupon-details {
		padding: 0 20px
	}
}

@media (min-width: 500px) {
	.coupon-container .coupon-details {
		position: absolute;
		top: 47%;
		left: 50%;
		width: 70%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%)
	}
}

@media (min-width: 768px) {
	.coupon-container .coupon-details {
		width: 67%;
		top: 44%
	}
}

.coupon-container .coupon-action {
	display: block;
	width: 90%;
	margin: 16px auto 0;
	display: block
}

.coupon-container .coupon-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 16px
}

.coupon-container .coupon-title {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px
}

.coupon-container .coupon-cost {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 38px
}

.coupon-container .coupon-duration {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 29px
}

.coupon-container .coupon-description,
.coupon-container .video-description {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px
}

.coupon-container .video-description {
	padding: 4px 0 8px
}

.coupon-container .coupon-video {
	width: 100%;
	max-width: 300px
}

.coupon-container .coupon-dribbble-wrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	width: 60px;
	height: 60px;
	margin-right: 14px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	border-radius: 50%;
	background-color: #fbdbe7
}

@media (min-width: 500px) {
	.coupon-container .coupon-dribbble-wrap {
		width: 80px;
		height: 80px
	}
}

.coupon-container .coupon-dribbble-wrap .coupon-dribbble {
	height: 85%
}

.coupon-container .coupon-video-container {
	text-align: center
}

.coupon-container .coupon-divider {
	max-width: 282px;
	width: 100%;
	margin: 16px auto 24px;
	border: 3px dashed #dbdbde
}

.coupon-container .title-sub-text {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	display: block
}

.coupon-container .footer-link {
	margin-top: 16px;
	margin-bottom: 16px;
	display: block;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #3d3d4e
}

@media (min-width: 500px) {
	.coupon-container .footer-link {
		position: absolute;
		bottom: 20px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		margin-bottom: 0
	}
}

@media (min-width: 768px) {
	.coupon-container .footer-link {
		bottom: 40px
	}
}

#wrap-inner {
	padding: 0
}

.label-flag {
	display: -ms-flexbox;
	display: flex
}

.label-flag-updated {
	margin-left: 5px;
	font-weight: 500
}

.rate-limited {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column
}

.subscribe-to-search {
	display: -ms-flexbox;
	display: flex;
	text-align: left;
	max-width: 850px;
	margin: 0 auto
}

.subscribe-to-search a.form-sub {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding: 10px 16px;
	margin-left: 29px;
	font-size: 14px
}

.subscribe-to-search p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px
}

.designer-search-no-results {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid #f3f3f4;
	border-radius: 12px;
	padding-top: 98px;
	padding-bottom: 112px
}

.designer-search-no-results .no-results-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	max-width: 70%;
	width: 550px
}

.designer-search-no-results .no-results-image {
	width: 140px;
	height: 140px
}

.designer-search-no-results .no-results-text {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px
}

.designer-search-no-results .no-results-bookmark {
	width: 8px;
	height: 11px;
	margin-left: 4px
}

@media screen and (max-width: 1590px) {
	.designer-search-main {
		padding: 0 16px
	}
}

@media (min-width: 1200px) {
	.designer-search-main {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
}

.hiring-card {
	margin-bottom: 20px
}

@media screen and (min-width: 768px) {
	.hiring-card {
		margin-bottom: 32px
	}
}

.designer-search-messages-tab .loading-more {
	display: none !important
}

.designer-search-tabs-loading {
	display: none
}

@media (min-width: 1200px) {
	.designer-search-tabs-loading {
		display: block
	}
}

.designer-search-scrolling-sidebar {
	overflow-y: auto;
	height: 100vh;
	padding: 48px 32px 32px
}

.designer-search-scrolling-sidebar .coachmark-target-wrapper {
	position: static
}

@media (min-width: 1200px) {
	.designer-search-sticky-sidebar {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		overflow: visible
	}
}

.designer-search-actions {
	-webkit-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	opacity: 1
}

@media (min-width: 1200px) {
	.designer-search-actions {
		-ms-flex: 1 0 320px;
		flex: 1 0 320px;
		max-width: 340px
	}
}

.designer-search-actions.visually-hidden {
	display: none;
	pointer-events: none
}

@media (min-width: 1200px) {
	.designer-search-tabs {
		-ms-flex: 0 0 300px;
		flex: 0 0 300px;
		max-width: 300px;
		border-right: 1px solid #f3f3f4
	}
}

@media (max-width: 1199px) {
	.designer-search-link-group {
		display: -ms-flexbox;
		display: flex;
		margin-bottom: 24px;
		padding-bottom: 24px;
		border-bottom: 1px solid #e7e7e9
	}
}

@media (min-width: 1200px) {
	.designer-search-link-group {
		margin-top: 24px;
		margin-bottom: 50px;
		padding-top: 24px;
		border-top: 1px solid #e7e7e9
	}
}

.designer-search-link-group .designer-search-tab-link {
	display: block;
	color: #3d3d4e;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px
}

@media (max-width: 1199px) {
	.designer-search-link-group .designer-search-tab-link {
		margin-left: 16px
	}
	.designer-search-link-group .designer-search-tab-link:first-of-type {
		margin-left: 0
	}
}

@media (min-width: 1200px) {
	.designer-search-link-group .designer-search-tab-link {
		margin-top: 24px;
		margin-bottom: 24px
	}
	.designer-search-link-group .designer-search-tab-link:first-of-type {
		margin-top: 0
	}
}

.designer-search-link-group .designer-search-tab-link:hover {
	color: #ea4c89
}

.results-wrapper {
	position: relative;
	margin-top: 32px;
	overflow: visible;
	margin-left: auto;
	margin-right: auto
}

@media (min-width: 1200px) {
	.results-wrapper {
		margin-top: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-negative: 1;
		flex-shrink: 1;
		width: 100%;
		overflow: hidden;
		padding: 48px 32px
	}
}

.designer-search-stream-filters {
	margin-bottom: 24px
}

@media (min-width: 768px) {
	.designer-search-stream-filters {
		margin-bottom: 32px
	}
}

.designer-search-stream-filters .designer-search-description {
	margin-top: 8px;
	width: 95%;
	color: #6e6d7a;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px
}

@media (min-width: 768px) and (max-width: 1199px) {
	.designer-search-stream-filters .designer-search-description {
		width: 65%;
		text-align: center;
	}
}

.designer-search-summary {
	top: 60px
}

@media (min-width: 920px) {
	.designer-search-summary {
		top: 0px
	}
}

@media (max-width: 1199px) {
	.designer-search-summary {
		position: -webkit-sticky;
		position: sticky;
		z-index: 2;
		margin-left: -15px;
		margin-right: -15px
	}
}

.designer-search-summary .hiring-card-scroll-line {
	position: absolute;
	width: 100%;
	margin-left: -30px
}

@media (max-width: 919px) {
	.designer-search-summary .hiring-card-scroll-line {
		top: 0px;
		height: 49px
	}
}

@media (min-width: 920px) {
	.designer-search-summary .hiring-card-scroll-line {
		top: 11px
	}
}

@media (min-width: 768px) {
	.designer-search-summary .hiring-card-scroll-line {
		height: 60px
	}
}

@media (min-width: 1200px) {
	.designer-search-summary .hiring-card-scroll-line {
		display: none
	}
}

.designer-search-summary .hiring-card-scroll-line:before {
	content: '';
	display: block;
	height: 16px;
	position: -webkit-sticky;
	position: sticky;
	top: 44px;
	-webkit-box-shadow: 0px 1px 0px #e7e7e9;
	box-shadow: 0px 1px 0px #e7e7e9
}

@media (max-width: 919px) {
	.designer-search-summary .hiring-card-scroll-line:before {
		top: 104px
	}
}

@media (max-width: 1199px) {
	.designer-search-summary .search-summary-header {
		background-color: #fff;
		z-index: 2;
		padding: 0 30px
	}
}

.designer-search-summary .search-summary-sticky-container {
	position: relative;
	background: #fff;
	z-index: 3
}

@media (max-width: 1199px) {
	.designer-search-summary .search-summary-sticky-container {
		margin: 0px -32px;
		padding: 10px 15px
	}
}

.designer-search-summary .search-summary-sticky-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: start;
	align-items: flex-start
}

.designer-search-summary .search-summary-details {
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding-right: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

@media (min-width: 1200px) {
	.designer-search-summary .search-summary-details {
		padding-right: 0
	}
	
}

.search-summary-title h1{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 800;
	line-height: 29px;
	overflow: hidden;
	/* text-overflow: ellipsis;
	white-space: nowrap; */
	color: #0d0c22
}

@media (max-width: 500px) {
	.search-summary-title h1{
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
	}
	.search-summary-title{
		margin-top: 2rem;
		text-align: center;
	}
	.designer-search-description{
		text-align: center;
	}
	.designer-search-unsubscribed-banner{
		align-items: center;
		text-align: center;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (max-width: 768px) {
	 .search-summary-title h1{
		font-family: 'Roboto', sans-serif;
		font-size: 32px;
		font-weight: 700;
		line-height: 38px;
	}
	.search-summary-title{
		margin-top: 2rem;
		text-align: center;
	}
	.designer-search-description{
		text-align: center;
	}
	.designer-search-unsubscribed-banner{
		align-items: center;
		text-align: center;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
	
}

@media (max-width: 1199px) {
	.designer-search-width {
		max-width: 850px;
		-ms-flex: 1 1 850px;
		flex: 1 1 850px;
		margin-right: auto;
		margin-left: auto;
	}
	.search-summary-title{
		margin-top: 2rem;
		text-align: center;
	}
	.designer-search-description{
		text-align: center;
	}
	.designer-search-unsubscribed-banner{
		align-items: center;
		text-align: center;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
}

.designer-search-results-stream {
	max-width: 850px;
	opacity: 1;
	-webkit-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease
}

@media (max-width: 1199px) {
	.designer-search-results-stream {
		margin: 0 auto
	}
}

.search-results-updating .designer-search-results-stream {
	opacity: 0.5
}

.designer-search-results-stream .designer-search-section-text {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 32px
}

.designer-search-results-stream .pagination {
	margin-bottom: 32px
}

@media (min-width: 1200px) {
	.designer-search-results-stream .pagination {
		margin-bottom: 0
	}
}

.designer-search-mobile-actions {
	-ms-flex-positive: 0;
	flex-grow: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

.designer-search-mobile-actions .drawer-trigger-wrapper {
	position: relative;
	top: 4px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 16px
}

@media (min-width: 768px) {
	.designer-search-mobile-actions .drawer-trigger-wrapper {
		top: auto;
		padding: 0;
		margin: 0 0 0 16px
	}
}

.designer-search-mobile-actions .drawer-trigger {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	color: #6e6d7a;
	margin-left: 12px
}

@media (min-width: 768px) {
	.designer-search-mobile-actions .drawer-trigger {
		padding: 8px 16px;
		border: 1px solid #e7e7e9;
		border-radius: 8px;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		line-height: 22px;
		top: auto;
		right: auto
	}
}

.designer-search-mobile-actions .drawer-trigger:hover {
	cursor: pointer
}

@media (min-width: 768px) {
	.designer-search-mobile-actions .drawer-trigger:hover {
		border-color: #dbdbde
	}
}

.designer-search-mobile-actions .drawer-trigger svg {
	fill: currentColor;
	width: 20px;
	height: 20px
}

@media (min-width: 768px) {
	.designer-search-mobile-actions .drawer-trigger svg {
		display: none
	}
}

.designer-search-mobile-actions .drawer-trigger .indicator {
	-ms-flex-align: center;
	align-items: center;
	background: #ea4c89;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	line-height: 10px;
	font-weight: 500;
	color: #fff;
	border-radius: 50%;
	padding: 0 3px;
	border: 2px solid #fff;
	height: 20px;
	min-width: 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: -11px;
	right: -11px
}

@media (min-width: 768px) {
	.designer-search-mobile-actions .drawer-trigger .indicator {
		position: static;
		border: 2px solid #fff;
		height: 18px;
		min-width: 18px;
		border: none;
		margin-right: 8px
	}
}

.designer-search-mobile-actions .drawer-trigger .text {
	display: none
}

@media (min-width: 768px) {
	.designer-search-mobile-actions .drawer-trigger .text {
		display: inline-block
	}
}

.designer-search-actions-wrapper {
	border-left: 1px solid #f3f3f4
}

@media (min-width: 1200px) {
	.search-filters {
		background: #fff;
		border-radius: 12px;
		padding: 12px;
		margin-bottom: 50px
	}
	.search-filters::-webkit-scrollbar {
		display: none
	}
}

.search-filters .search-filters-wrapper {
	min-width: 0;
	width: 100%
}

.search-filters .heading-label {
	margin-top: 32px
}

.search-filters .filter-intro {
	margin-top: 24px;
	margin-bottom: -12px
}

.search-filters .btn-dropdown,
.search-filters .btn-dropdown-link {
	display: block
}

.search-filters .in-active {
	pointer-events: none
}

.search-filters .salary-dropdown {
	max-height: 200px;
	overflow: scroll
}

.search-filters-helper-text {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #6e6d7a
}

@media (min-width: 1200px) {
	.search-filters-loading {
		min-height: 470px
	}
}

.unsaved-filter-message {
	-webkit-transition: height 250ms ease-in-out;
	transition: height 250ms ease-in-out;
	height: 0;
	overflow: hidden;
	margin-bottom: 20px
}

.unsaved-filter-message.show {
	height: 97px
}

.unsaved-filter-message .separator {
	margin: 20px 0 0
}

.separator {
	border-bottom: 1px solid #e7e7e9;
	margin: 20px 0
}

.form-field-space-between {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.inline-fields>* {
	width: 100%;
	margin-right: 16px
}

.inline-fields>*:last-child {
	margin-right: 0
}

.experience-levels-group {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.experience-levels-group .v-checkbox {
	min-width: 97px
}

@media (max-width: 499px) {
	.experience-levels-group .v-checkbox {
		margin-right: 24px
	}
}

.experience-levels-group .v-checkbox:nth-child(odd) {
	margin-right: 8px
}

.search-modal .search-filters {
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 5px 15px;
	margin-left: -15px;
	margin-right: -15px
}

.search-modal .designer-type-group {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.search-modal .designer-type-group .v-checkbox {
	margin-right: 15px
}

.search-modal .tagline {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 8px
}

.search-modal .experience-levels-group {
	-ms-flex-pack: start;
	justify-content: flex-start
}

.search-modal .experience-levels-group .v-checkbox {
	margin-right: 24px
}

.search-modal .search-modal-actions {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.search-modal .search-modal-actions.has-delete {
	-ms-flex-pack: justify;
	justify-content: space-between
}

@media (max-width: 499px) {
	.search-modal .search-modal-actions {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
}

.search-modal .search-modal-actions-buttons button {
	margin-left: 15px
}

.search-modal .delete-search {
	color: #ff5555
}

@media (max-width: 499px) {
	.search-modal .search-modal-actions-links {
		height: 40px
	}
}

@media (max-width: 499px) {
	.search-modal .search-modal-actions-links,
	.search-modal .search-modal-actions-buttons {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: end;
		justify-content: flex-end;
		width: 100%
	}
}

.up-sell-modal-title {
	margin: 32px auto 16px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	color: #2f2479;
	max-width: 90%
}

@media (min-width: 768px) {
	.up-sell-modal-title {
		margin-top: 56px;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 32px;
		font-weight: 700;
		line-height: 38px
	}
}

.up-sell-modal-image {
	width: 100%;
	min-height: 200px
}

.up-sell-main-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	-ms-flex-direction: column;
	flex-direction: column;
	z-index: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: -60px auto 0
}

@media (min-width: 768px) {
	.up-sell-main-content {
		-ms-flex-direction: row;
		flex-direction: row;
		margin: -95px 32px 0
	}
}

.up-sell-main-content .savings-text {
	color: #9e9ea7;
	text-align: center;
	display: block;
	margin-top: 8px
}

.up-sell-main-content .savings-badge {
	display: inline-block;
	padding: 8px 16px;
	margin-bottom: 16px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	border-radius: 6px;
	background-color: #fdedf3;
	color: #ea4c89
}

.up-sell-main-content .up-sell-details-cta {
	display: block;
	margin-bottom: 16px
}

@media (min-width: 768px) {
	.up-sell-main-content .up-sell-details-cta {
		margin-bottom: 0
	}
}

.up-sell-detail-container {
	-ms-flex: 1;
	flex: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	-webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
	border-radius: 12px
}

@media (min-width: 768px) {
	.up-sell-detail-container:not(:first-of-type) {
		margin-left: 14px
	}
}

.up-sell-detail {
	max-width: 420px;
	padding: 24px;
	margin: 0 24px 24px
}

@media (min-width: 500px) {
	.up-sell-detail {
		margin: 0 auto
	}
}

@media (min-width: 768px) {
	.up-sell-detail {
		padding: 40px
	}
}

.up-sell-details {
	padding: 24px;
	margin: 0 24px 24px
}

@media (min-width: 768px) {
	.up-sell-details {
		margin: 0
	}
}

.up-sell-details-underlined {
	border-bottom: 1px solid #dbdbde
}

.up-sell-details-title {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 29px;
	font-weight: 700;
	margin-bottom: 16px
}

.up-sell-details-content {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 24px
}

.up-sell-details-link {
	max-width: 420px;
	margin: 0 24px 32px;
	text-align: center
}

@media (min-width: 500px) {
	.up-sell-details-link {
		margin: 32px auto
	}
}

@media (min-width: 1200px) {
	.search-actions .form-btn,
	.search-actions .form-sub {
		margin: 0 0 32px 12px
	}
}

.designer-search-drawer .drawer-container {
	padding-bottom: 0
}

.designer-search-drawer .designer-search-drawer-content {
	padding: 16px
}

@media (min-width: 500px) {
	.designer-search-drawer .designer-search-drawer-content {
		padding: 24px
	}
}

@media (min-width: 768px) {
	.designer-search-drawer .designer-search-drawer-content {
		padding: 40px
	}
}

.designer-search-drawer .designer-search-drawer-footer {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 16px;
	background: #fff;
	z-index: 2;
	-webkit-box-shadow: 0px -25px 80px rgba(0, 0, 0, 0.05);
	box-shadow: 0px -25px 80px rgba(0, 0, 0, 0.05)
}

@media (min-width: 500px) {
	.designer-search-drawer .designer-search-drawer-footer {
		padding-right: 24px;
		padding-left: 24px
	}
}

@media (min-width: 768px) {
	.designer-search-drawer .designer-search-drawer-footer {
		padding-right: 40px;
		padding-left: 40px
	}
}

.designer-search-drawer .designer-search-drawer-label {
	text-transform: uppercase;
	color: #6e6d7a;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	margin-bottom: 24px
}

.designer-search-drawer hr {
	display: block;
	margin: 8px -16px 24px;
	border: none;
	border-bottom: 1px solid #e7e7e9
}

@media (min-width: 500px) {
	.designer-search-drawer hr {
		margin-left: -24px;
		margin-right: -24px
	}
}

@media (min-width: 768px) {
	.designer-search-drawer hr {
		margin-left: -40px;
		margin-right: -40px
	}
}

.designer-search-unsubscribed-banner {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	margin-top: 16px;
	padding: 16px;
	border-radius: 8px;
	background: rgba(255, 212, 105, 0.15)
}

@media (min-width: 500px) {
	.designer-search-unsubscribed-banner {
		-ms-flex-direction: row;
		flex-direction: row;
		text-align: left
	}
}

.designer-search-unsubscribed-banner .designer-search-unsubscribed-text {
	margin-bottom: 8px
}

@media (min-width: 500px) {
	.designer-search-unsubscribed-banner .designer-search-unsubscribed-text {
		margin-bottom: 0px;
		margin-right: 16px
	}
}

.designer-search-subset-filters {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

.designer-search-subset-filters.designer-search-subset-filters {
	overflow: auto;
	margin-left: -16px;
	margin-right: -16px;
	padding-left: 16px;
	padding-right: 16px;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none
}

.designer-search-subset-filters.designer-search-subset-filters::-webkit-scrollbar {
	width: 0;
	height: 0
}

.designer-search-subset-filters.designer-search-subset-filters:before,
.designer-search-subset-filters.designer-search-subset-filters:after {
	content: ' ';
	width: 20px;
	height: 100%;
	display: block;
	position: absolute
}

.designer-search-subset-filters.designer-search-subset-filters:before {
	z-index: 1;
	left: -16px;
	background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(50%, #fff));
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #fff 50%)
}

@media (min-width: 1200px) {
	.designer-search-subset-filters.designer-search-subset-filters:before {
		left: 16px
	}
}

.designer-search-subset-filters.designer-search-subset-filters:after {
	z-index: 1;
	right: -16px;
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, #fff));
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 50%)
}

@media (min-width: 1200px) {
	.designer-search-subset-filters.designer-search-subset-filters:after {
		right: 16px
	}
}

.designer-search-subset-filters .search-subset-child {
	margin-top: 13px;
	margin-bottom: 10px
}

@media (min-width: 500px) {
	.designer-search-subset-filters .search-subset-child {
		margin-top: 23px
	}
}

.designer-search-subset-filters .designer-search-subset-filter {
	position: relative;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-right: 8px;
	padding: 10px 18px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	color: #0d0c22;
	background: #f3f3f4;
	border-radius: 100px;
	white-space: nowrap;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border: 1px solid transparent;
	-webkit-mask-image: -webkit-radial-gradient(#fff, #000)
}

@media (min-width: 500px) {
	.designer-search-subset-filters .designer-search-subset-filter {
		margin-right: 16px;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		padding: 8px 14px
	}
}

.designer-search-subset-filters .designer-search-subset-filter:last-child:after {
	content: '';
	display: block;
	position: absolute;
	right: -16px;
	width: 16px;
	height: 1px
}

.designer-search-subset-filters .designer-search-subset-filter:hover {
	background: #e7e7e9
}

.designer-search-subset-filters .designer-search-subset-filter .search-subset-count {
	color: #6e6d7a
}

.designer-search-subset-filters .designer-search-subset-filter.active {
	color: #ea4c89;
	background: #fff;
	border: 1px solid #f082ac
}

.designer-search-subset-filters .designer-search-subset-filter.active:hover {
	border: 1px solid #ea4c89
}

.designer-search-subset-filters .designer-search-subset-filter.active .search-subset-count {
	color: #f082ac
}

.designer-search-subset-filters .designer-search-subset-filter.loading-subset {
	border: 1px solid transparent !important
}

.designer-search-subset-filters .designer-search-subset-filter .loading-template {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.coachmark-target-wrapper {
	position: relative
}

.coachmark-target-wrapper .coachmark-target {
	position: absolute;
	z-index: 1
}

.coachmark-target-wrapper .coachmark-target.coachmark-drawer {
	bottom: -8px;
	left: -12px
}

@media (min-width: 768px) {
	.coachmark-target-wrapper .coachmark-target.coachmark-drawer {
		left: 0
	}
}

.coachmark-target-wrapper .coachmark-target.coachmark-filters {
	top: 40px;
	left: -8px
}

.coachmark-target-wrapper .coachmark-target.coachmark-searches {
	top: 44px;
	right: -8px
}

.coachmark-target-wrapper .coachmark-target.coachmark-messages {
	right: -8px
}

.coachmark-target-wrapper .coachmark-target.coachmark-contact {
	top: 16px;
	left: 8px
}

@media (min-width: 500px) {
	.coachmark-target-wrapper .coachmark-target.coachmark-contact {
		top: 24px
	}
}

.designer-search-guest .slat-header.user {
	pointer-events: none
}


.btn-pink {
	color: #fff;
	background-color: #ea4c89;
	border-color: #ea4c89
}

.btn-pink:hover {
	color: #fff;
	background-color: #f082ac;
	border-color: #f082ac
}

.btn-pink.focus,
.btn-pink:focus {
	color: #fff;
	background-color: #f082ac;
	border-color: #f082ac;
	box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}

.btn-pink.disabled,
.btn-pink:disabled {
	color: #fff;
	background-color: #ea4c89;
	border-color: #ea4c89
}

.btn-pink:not(:disabled):not(.disabled).active,
.btn-pink:not(:disabled):not(.disabled):active,
.show>.btn-pink.dropdown-toggle {
	color: #fff;
	background-color: #1d2124;
	border-color: #171a1d
}

.btn-pink:not(:disabled):not(.disabled).active:focus,
.btn-pink:not(:disabled):not(.disabled):active:focus,
.show>.btn-pink.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}

.btn-mint {
	color: #fff;
	background-color: #009c8c;
	border-color: #009c8c
}

.btn-mint:hover {
	color: #fff;
	background-color: #14C9B7;
	border-color: #14C9B7
}

.btn-mint.focus,
.btn-mint:focus {
	color: #fff;
	background-color: #14C9B7;
	border-color: #14C9B7;
	box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}

.btn-mint.disabled,
.btn-mint:disabled {
	color: #fff;
	background-color: #009c8c;
	border-color: #009c8c
}

.btn-mint:not(:disabled):not(.disabled).active,
.btn-mint:not(:disabled):not(.disabled):active,
.show>.btn-mint.dropdown-toggle {
	color: #fff;
	background-color: #1d2124;
	border-color: #171a1d
}

.btn-mint:not(:disabled):not(.disabled).active:focus,
.btn-mint:not(:disabled):not(.disabled):active:focus,
.show>.btn-mint.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}

.btn-green {
	color: #000;
	background-color: #fafafa;
	border-color: #000;
}

.btn-green:hover {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.btn-green.focus,
.btn-green:focus {
	color: #fff;
	background-color: #000;
	border-color: #000;
	box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}

.btn-green.disabled,
.btn-green:disabled {
	color: #000;
	background-color: #fafafa;
	border-color: #fafafa
}

.login{
    height: 100vh; 
	width: 100%;
	
  }
  hr.divider {
	overflow: visible;
	padding: 0;
	margin-bottom: 10px;
	border: none;
	border-top: 1px solid #e0e0e0;
	color: #6e6d7a;
	text-align: center
}

hr.divider:after {
	content: 'O';
	display: inline-block;
	position: relative;
	top: -7px;
	font: normal 14px/14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 16px;
	background: #fff
}
.center{
	display: flex;
	align-items: center;
}


.center .img-center img{
	width: 100%;
	height: auto;
	
	
  }
  @supports(object-fit: cover){
	.img-center img{
		height: 100%;
		object-fit: cover;
		object-position: center center;
	  }
  }

  .mt-8{
	margin-top: 8rem;
  }
  
  .mt-6{
	  margin-top: 3rem;
  }
  svg{
	  cursor: pointer;
	  margin-right: 1rem;
  }